
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f44336;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 10%
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*................*/

.butt {
  position: absolute;
  top: 60%;
  left: 50%;
  display: inline-block;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f44336;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 10%
}
.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt:hover span {
  padding-right: 25px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}

/*...................visualize..........*/

.but {
  position: absolute;
  top: 70%;
  left: 50%;
  display: inline-block;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f44336;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 10%
}
.but span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.but:hover span {
  padding-right: 25px;
}

.but:hover span:after {
  opacity: 1;
  right: 0;
}


/* end visualize.....*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}


/*
 * Formatting the header area
 */

header {
  /*background-color: #DFB887;*/
  height: 35px;
  width: 10%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: yellow;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}



/*
 * Center the body content
 */



.container {
  width: 1200px;
  margin: 0 auto;
}

.menu{
  padding: 5px 0 3px 0;
  background-color: yellow;
  display: block;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}


/* Bordered form */


form {
  border: 3px solid #f1f1f1;
}


/* Full-width inputs */


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/* Set a style for all buttons */


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



/* Add a hover effect for buttons */


button:hover {
  opacity: 0.8;
}



/* Extra style for the cancel button (red) */


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}



/* Center the avatar image inside this container */


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;

}

